.profile-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: stretch;
}

.about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 15px 10px;
    width: 70%;
    align-self: center;
    border-bottom: 2px solid var(--color-primary);
}

.profile-picture {
    margin-right: 10px;
    width: 72px;
}

.profile-picture img {
    border-radius: 100%;
    width: 100%;
}

.profile-details h2, .profile-details p {
    margin: 0;
}

.profile-details {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.posts { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}