.user-card {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 10px 20px;
}

.user-card p {
    margin: 0;
}

.user-card .profile-picture {
    width: 64px;
}