.post-container {
    border-bottom: 2px solid var(--color-primarylight);
    width: 100%;
    padding: 20px 15px;
    text-align: left;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
}

.bottom-row {
    align-items: center;
}

.content {
    white-space: pre-wrap;
}