.post-container {
    width: 500px;
    border: 1px solid black;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
}

.bottom-row {
    align-items: center;
}

.post-creator {
    display: flex;
}

.post-creator-name {
    text-align: left;
}

.display-picture {
    width: 64px;
    margin-right: 10px;
}

.display-picture img {
    width: 100%;
}

.content {
    white-space: pre-wrap;
}